{
  "presets": [
    "@babel/preset-env" // 解决语法问题
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": 3
      }
    ],
    [
      "@babel/plugin-transform-modules-commonjs"
    ]
  ]
}